@media only screen and (min-width:688px) and (max-width:992px) {
    /* Styles for tablet devices */
.home{
    width: auto;
    height: auto;
}
.text-home{
    margin-bottom: 100%;
}
.fol-ful{
    width: 70%;
}
.fol-img{
    width: 130%;
}
.our-blog{
    margin-left: 17%;
}
.our-written{
    margin-right: 25%;
}
  }
  
  @media only screen and (max-width:688px) {
    /* Styles for mobile devices */
    .home{
        width: 99.2%;
        height: auto;
        }
.media{
    width: 100%;
    padding: auto;
}
.text-home{
    margin-bottom: 100%;
}
.about{
    width: 99.2%;
}
.fol-ful{
    width: 600%;
}
.fol-ful-2{
width: 60%;
}
.fol-img{
    width: 100%;
}
  }
  
  